<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/change_password.css">
</head>

<body>

<div class="box" id="change_password_heading">
    <h1> Change password </h1>
</div>

<div class="box" id="container">
    <form action="/change_password" method="POST">
        <input type="password" name="oldPassword" placeholder="Old Password" autocomplete="off" required>
        <input type="password" name="newPassword" placeholder="New Password" autocomplete="off" required>
        <button type="submit">Change Password</button>
    </form>
    <a href="/profile"><h2>Go Back</h2></a>
</div>



<%- include("footer") -%>