#change_password_heading {
    text-align: center;
    text-align: center;
}

button {
    left: 0;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    transition: color 0.3s ease;
}

h2:hover {
    color: #ABC4AA;
}

.box {
    text-align: center;
}

#container {
    height: 250px;
    display: flex;
    justify-content: start;
}
