html {
  background-color: #A9907E;
  height: 100%;
  font-family: 'helvetica neue';
  overflow-y: scroll;
  min-width: 300px;
}

body {
  margin-top: 0px;
}

h1 {
  color: #F3DEBA;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #675D50;
  border-radius: 40px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

#heading {
  background-color: #675D50;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #A9907E;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ABC4AA;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #F3DEBA;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ABC4AA;
  color: #F3DEBA;
  font-size: 30px;
  padding-bottom: 1px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  color: #F3DEBA;
}

input:not(:focus) {
  color: #F3DEBA;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#navbar {
  max-width: 70vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 15px 50px;
}


